.accordion {
  border: 0.125rem solid $bg-color;
  border-radius: 0.1875rem;

  &__button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $bg-color;
    border: none;
    padding: 0.625rem;
    color: $text-color;
    font-weight: 700;
    cursor: pointer;
  }

  &__panel {
    padding: 0.625rem;

    & p:not(:last-child) {
      margin-bottom: 0.3125rem;
    }
  }
}
