.new-game {
  margin-bottom: .3125rem;
  

  &__image-preview {
    margin-top: 1.25rem;
  }

  @media (min-width: 40.625rem) {
    & {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
    
    & :nth-child(1) {
      order: 2;
    }

    & :nth-child(2) {
      order: 1;
    }

    &__image-preview {
      width: 47%;
      margin-top: 0;
    }

    & > form {
      width: 47%;
    }
  }

}
