.game-detail {
  padding-bottom: 6.25rem;

  &__title {
    font-size: 1.125rem;
  }

  &__cover {
    width: 15.5625rem;
    height: 18.8125rem;
    margin: 0 auto;
    display: block;

    @media (min-width: 48rem) {
      width: 269px;
      height: 321px;
    }
  }

  &__price {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    color: $secondary-color;
    margin-bottom: 0.3125rem;
  }

  & .accordion {
    margin-bottom: 0.3125rem;
  }
}

.video-responsive {
  padding-bottom: 56.25%;
  position: relative;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 0;

  & span:first-child {
    font-weight: 700;
  }
}
