*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: green;
  box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: $text-color;
}

.field {
  margin-bottom: 1.25rem;
  position: relative;

  & label {
    display: block;
    font-size: 0.875rem;
    position: absolute;
    top: -0.5rem;
    left: 0.5rem;
    background-color: $primary-color;
    padding: 0 0.1875rem;
  }
}

.input {
  background-color: $primary-color;
  border-radius: 5px;
  border: 2px solid $text-color;
  color: $text-color;
  padding: 0.625rem;
  width: 100%;
}
