.message {
  display: block;
  border: 2px solid gray;
  padding: 15px;
  border-radius: 5px;
  text-align: center;

  &.succed {
    background-color: greenyellow;
    color: $primary-color;
  }

  &.failed {
    background-color: $danger-color;
    color: $text-color;
  }
}
